body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(239,172,199,1) 5%, rgba(240,194,204,1) 39%, rgba(255,140,140,1) 100%);
}

.calculadora {
    padding: 10px;
    background-color: pink;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 5px rgb(231, 83, 154);
    margin: 100px 0px 0px 560px;
}

.calculadora .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px 0 0;
}

.row button {
    flex: 1;
    height: 40px;
    border-radius: 10px;
    border: 1px solid palevioletred;
    box-shadow: 0 2px rgb(141, 62, 88);
    background-color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.row button:hover {
    background-color: rgb(204, 154, 163);
    color: white;
}
.row button:active {
    box-shadow: 0 1px rgb(141, 62, 88);
    transform: translateY(1px);
}

.row input {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid rgb(231, 83, 154);
    background-color: rgb(253, 231, 235);
    font-weight: bold;
    font-size: 20px;
    box-shadow: 0 1px rgb(141, 62, 88);
    outline: none;
}