.calculadora {
    padding: 10px;
    background-color: pink;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 5px rgb(231, 83, 154);
}

.calculadora .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px 0 0;
}