.calculadora {
    padding: 10px;
    background-color: pink;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 5px rgb(231, 83, 154);
}

.calculadora .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px 0 0;
}

.row button {
    flex: 1;
    height: 40px;
    border-radius: 10px;
    border: 1px solid palevioletred;
    box-shadow: 0 2px rgb(141, 62, 88);
    background-color: rgb(255, 255, 255);
}
.row button:hover {
    background-color: rgb(204, 154, 163);
    color: white;
}

